*{
    margin: 0;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

h1{
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

h2{
    font-family: 'Herr Von Muellerhoff', cursive;
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
}

.homepage{
    background: url("../project-start/img/slider/slide_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.shade{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.container{
    max-width: 95vw;
    margin: 0 auto;
}

header{
    max-height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    ul{
        min-width: 20%;
        display: flex;
        list-style: none;
        padding-left: 0px;
        li{
            width: 100%;
            display: flex;
            // justify-content: space-between; 
            a{
                color: white;
                font-size: 14px;
                padding: 6px;
            }
            a:hover{
                background-color: #fff;
                color:#d0963e;
                transition: background-color 0.7s ease-out;
            }
        }
    }
    .bookTable{
        text-decoration: none;
        background-color: #d0963e;
        color: #fff;
        padding: 8px;
        text-align: center;
        font-weight: 700;
        letter-spacing: 2px;
    }
    .bookTable:hover{
        background-color: #fff;
        color: #d0963e;
        transition: background-color 0.7s ease-out;
    }
}

nav{
    background-color: #202324;
    padding: 2% 1%;
    display: flex;
    justify-content: space-between;
    min-height: 10vh;
    border-top: 1px solid #fff;
    .hamburger{
        color: #fff;
        font-size: 30px;
        padding: 1% 1% 0 0;   
    }
}

.dropdownMenu{
    border-top: 0.5px solid #000;
    background-color: #202324;
    display: flex;
    flex-direction: column;
    max-height: 25vh;
    overflow: auto;
    visibility: hidden;
    .dropdown{
        .dropbtn{
            color: #fff;
            margin-left: 15px;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 700;
            padding: 10px;
            background-color: inherit;
            cursor: pointer;
            border: none;
        }
        .dropbtn:hover{
            color: #d0963e;
        }
    }
    a{
        margin-left: 15px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        padding: 10px;
    }
    a:hover{
        color: #d0963e;
    }
}
.dropActive{
    visibility: visible;
}

.slider{
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .burger{
        position: absolute;
        top: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .welcomeText{
            margin-bottom: 20px;
        }
        .clickOnMe{
            text-decoration: none;
            border: 2px solid #fff;
            color: #fff;
            padding: 10px;
            text-align: center;
            font-weight: 700;
            letter-spacing: 2px;
        }
        .clickOnMe:hover{
            border: none;
            background-color: #d0963e;
            transition: background-color 0.7s ease-out;
        }
    }
}