*{
    margin: 0;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-transform: none;
}

@mixin h1{
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}
@mixin h2{
    font-family: 'Herr Von Muellerhoff', cursive;
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
}
@mixin h4{
    font-size: 20px;
    margin-bottom: 15px;
}

@mixin p{
text-transform: none;
margin-bottom: 30px;
line-height: 2;
}

@mixin shade{
    width: 100%;
    min-height: 100vh;
    background: rgba(0,0,0,0.5);
}
@mixin button{
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    display: inline-block;
}
@mixin buttonHover{
    border: none;
    background-color: #d0963e;
    transition: background-color 0.7s ease-out;
    border: 2px solid transparent;
}
@mixin pageHeader{
    h2{
        @include h2;
        color: #d0963e;
        text-transform: none;
    }
    h1{
        @include h1;
        color: #202324;
        font-size: 2em;
    }
}
.homepage{
    background: url("../project-start/img/slider/slide_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    .shade{
        @include shade;
    }
}

.container{
    max-width: 90vw;
    margin: 0 auto;
}
@media screen and (min-width: 765px){
    .container{
        max-width: 80vw;
    }
}

header{
    min-height: 5vh;
    width: 100%;
    display: flex;
    // justify-content: space-between;
}
.socialTable{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .socials{
        min-height: 5vh;
        min-width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding-left: 0px;
        li{
            width: 100%;
            display: flex;
            a{
                color: white;
                font-size: 14px;
                padding: 6px;
            }
            a:hover{
                background-color: #fff;
                color:#d0963e;
                   transition: background-color 0.7s ease-out;
            }
        }
    }
    .bookTable{ 
        text-decoration: none;
        background-color: #d0963e;
        color: #fff;
        padding: 8px;
        text-align: center;
        font-weight: 700;
        letter-spacing: 2px;
    }
    .bookTable:hover{
        background-color: #fff;
        color: #d0963e;
        transition: background-color 0.7s ease-out;
    }
}
.restaurantInfo{
    display:none;
}
@media screen and (min-width: 765px) {
    .restaurantInfo{
        display: block;
        width: 50%;
        .styleInfo{
            display: flex;
            flex-direction: row;
            li{
                list-style: none;
                color: #fff;
                padding: 6px;
            }
        }        
    }
    .socialTable{
        display: flex;
        justify-content: flex-end;
        width: 50%;
    }
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 10vh;
    border-top: 1px solid #fff;
    transition: background 1s ease;
    transition: padding 1s ease;
        .hamburger{
            color: #fff;
            font-size: 30px;
            padding: 1% 1% 0 0; 
            cursor: pointer;
        } 
}
nav.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8;
}
.menu{
    width: 100%;
    .menuContainer{
        padding: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-height: 10vh;
        background-color: #202324;
    }
}
.logoSticky{
    display: none;
}
.dropdownMenu{
    border-top: 0.5px solid #000;
    background-color: #202324;
    display: flex;
    flex-direction: column;
    max-height: 25vh;
    overflow: auto;
    visibility: hidden;
    // display: none;/ 
    width: 100%;
    top: 12vh;
    z-index: 5;
    .dropdown{        
        .dropbtn{
            color: #fff;
            margin-left: 15px;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 700;
            padding: 10px;
            background-color: inherit;
            cursor: pointer;
            border: none;
        }
        .dropbtn:hover{
            color: #d0963e;
        }
    }
    a{
        margin-left: 15px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        padding: 10px;
    }
    a:hover{
        color: #d0963e;
    }
}
.dropActive{
    visibility: visible;
    // display: block;
}
@media screen and (min-width: 765px){
    nav{
        .menu{
            max-width: 80vw;
            margin: 0 auto;
            display: flex;

            .menuContainer{
                width: 30%;
                background-color: transparent; 
                display: flex; 
                flex-direction: row;
            }
            .hamburger{
                display: none;
            }
            .dropdownMenu{           
                visibility: visible;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: transparent;
                border-top: none;
                padding: 3% 0;
            }
        }    
    }  
    nav.sticky{
        background-color: #fff;
        box-shadow: 0 5px 8px #888888;
        .logo{
            display: none;
        }
        .logoSticky{
            display: block;
        }
        .dropdown{
            .dropbtn{
                color: #000;
            }
        }
        .anker{
            color: #000;
        }
    } 
}

.slider{
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .burger{
        display: flex;
        flex-direction: column;
        align-items: center;
        .welcomeText{
            h1{
                @include h1;
            }
            h2{
                @include h2;
            }
            margin-bottom: 20px;
        }
    }
}
.clickOnMe{
    @include button;
}
.clickOnMe:hover{
    @include buttonHover;
}

.secondPage{
    display: flex;
    flex-direction: column;
}
.ourStory{
    padding-top:  50px;
    margin-bottom: 30px;
    h2{
        @include h2;
        color: #d0963e;
        margin-bottom: 30px;
        span{
            color: #000;
            font-family: 'Lato', sans-serif;
        }
    }
    p{
        text-transform: none;
        font-size: 15px;
        line-height: 1.7;
        font-weight: 400;
        letter-spacing: 0.3px;
        margin-bottom: 10px;
    }  
}
.photos{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    img{
        width: 100%;
    }
}
.readMore{
    @include button;
    color: #d0963e;
    border: 1px #d0963e solid;
}
.readMore:hover{
    @include buttonHover;
    color: #fff;
    border: 1px solid transparent;
}

.thirdPage{
    background-image: url("../project-start/img/promotions/promotions_area_bg_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    .shade{
        @include shade;
    } 
}
.specials{
    @include pageHeader;
    margin-bottom: 30px;
    h1{
        color: #fff;
    }
}
.specialFood{
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    img{
        width: 100%;
        margin-bottom: 30px;
    }
    .from{
        background: rgba(0, 0, 0, 0.7);
        border-radius: 50%;
        height: 100px;
        color: #fff;
        font-size: 16px;
        left: 42%;
        top: 25%;
        position: absolute;
        text-align: center;
        width: 100px;
        z-index: 4;
        p{
            margin: 20px 0 10px;
            span{
                display: block;
                font-size: 28px;
                font-weight: 700;
                padding-top: 5px;
            }
        }
    }
    h2{
        @include h2;
        font-size: 44px;
        font-weight: 700;
        text-transform: none;
    }
    h1{
        @include h1;
    }
    .orderNow{
        @include button;
        color: #d0963e;
        border: 1px #d0963e solid;
    }
    .orderNow:hover{
        @include buttonHover;
        color: #fff;
        border: 1px solid transparent;
    }
}

.fourthPage{
    background-color: #f3f4f4;
    .container{
        min-height: 100vh;
        .specials{
            h1{
                color: #202324;
            }
        }
    }
    .allTheMenus{
        text-align: center;
        padding: 0 15px;
        .firstMenu{
            @include button;
            background-color: #202324;
            border: none;
            margin: 5px;
        }
        .allMenu{
            @include button;
            color: #202324;
            border: 1px #202324 solid;
            margin: 5px;
        }
        .allMenu:hover{
            @include buttonHover;
            background-color: #202324;
            color: #fff;
            border: none;
        }
    }
}
.menuPresentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    img{
        width: 100%;
    }
    h4{
        font-size: 18px;
        display: flex;
        justify-content: center;
        margin: 20px 0;
        text-transform: none;
        font-weight: normal;
    }
    p{
        display: flex;
        justify-content: center;
        color: #d0963e;
        font-size: 15px;
    }
}

.fifthPage{
    .reservation{
        padding: 50px 0;
        @include pageHeader;
    }
}
form{
    display: flex;
    flex-direction: column;
    .formRow{ 
        position: relative;
        label{
            position: absolute;
            font-size: 1.2em;
            height: 3vh;
            right: 0;
            top: 0.5em;
            width: 3vw;
        }
        input{
            height: 5vh;
            width: 100%;
            border: 0;
            border-bottom: 1px dashed;
            margin-bottom: 30px;
        }
        textarea{
            width: 100%;
            border: 0;
            border-bottom: 1px dashed;
            margin-bottom: 30px;
        }
    }
    .bookingTable{
        display: flex;
        justify-content: center;
        .bookTable{
            @include button;
            color: #d0963e;
            border: 1px #d0963e solid; 
            margin-bottom: 30px;
        }
        .bookTable:hover{
            @include buttonHover;
            color: #fff;
            border: 1px solid transparent;
        }
    }
    p{
        text-transform: none;
        font-size: 15px;
        text-align: center;
        margin-bottom: 30px;
    }
}
.intersection{
    h4{
        @include h4;
    }
    p{
        @include p;
    }
}

.sixthPage{
    background-image: url("../project-start/img/event/event_-02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.events{
    @include pageHeader;
}
.singleEvent{
    border-bottom: 1px solid #C3C3C4;
    margin-bottom: 30px;
    padding-bottom: 30px;
    .eventImg{
        position: relative;
        margin-top: 30px;
        img{
            width: 100%;
        }
        .smallEventDate{
            position: absolute;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            bottom: 0;
            color: #fff;
            border: 1px solid #fff;
            height: 15vh;
            width: 15vh;
            p{
                @include p;
                text-transform: uppercase;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                span{
                    font-size: 30px;
                }
            }
        }
    }
    .eventDetails{
        margin: 30px 0;
        h3{
          font-size: 20px;  
          text-transform: none;
          margin-bottom: 30px;
        }
        .event-meta{
            padding-bottom: 30px;
            margin-bottom: 40px;
            .event-time{
                text-decoration: none;
                color: #202324;
            }
        }
    }
}

.chefsHeader{
    @include pageHeader;
    margin-bottom: 30px;
}
.chefs{
    display: flex;
    .team{
        width: 100%;
        img{
            margin-bottom: 30px;
            width: 100%;
        }
        h3{
            margin-bottom: 30px;
            text-align: center;
        }
        p{
            margin-bottom: 30px;
            text-align: center;
        }
    }
}
.eightPage{
    background-color: #f3f4f4;
    padding-bottom: 30px;
}
.news{
    @include pageHeader;
    margin-bottom: 30px;
    padding-top: 30px;
}
.blogPictures{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
    img{
        width: 100%;
    }
    .lifestyle{
        position: absolute;
        bottom: -6%;
        left: 2.5%;
        width: 85%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        .lifestyleBtn{
            @include button;
            background-color: #d0963e;
            color: #fff;
            border: none;
            margin-bottom: 15px;

        }
        h3{
            margin-bottom: 30px;
        }
    }

}
// .ninthPage{
//     background-color: #202324;
// }
.instagramTheme{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    h4{
        @include h4;
        .owlTheme{
            text-decoration: none;
            color: #d0963e;
        }
    }
}
footer{
    background-color: #202324;
    .footerLogo{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 20vh;
    }
    .footerAdress{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            color: #CACACA;
            margin-bottom: 20px;
            a{
                text-decoration: none;
                color: #d0963e;
            }
        }
    }
    .footerSocialMedia{
        padding: 30px 0;
        border-bottom: 1px solid #CACACA;
        ul{
            min-height: 5vh;
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            li{
                width: 10%;
                a{
                    color: white;
                    font-size: 20px;
                    padding: 6px;
                }
                a:hover{
                    color:#d0963e;
                    transition: background-color 0.7s ease-out;
                }
            }
        }
    }
    .copyright{
        display: flex;
        justify-content: center;
        color: #CACACA;
        padding: 30px 0;
    }
}