* {
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  text-transform: none;
}

.homepage {
  background: url("../project-start/img/slider/slide_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.homepage .shade {
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

@media screen and (min-width: 765px) {
  .container {
    max-width: 80vw;
  }
}

header {
  min-height: 5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialTable {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socialTable .socials {
  min-height: 5vh;
  min-width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding-left: 0px;
}

.socialTable .socials li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialTable .socials li a {
  color: white;
  font-size: 14px;
  padding: 6px;
}

.socialTable .socials li a:hover {
  background-color: #fff;
  color: #d0963e;
  -webkit-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
}

.socialTable .bookTable {
  text-decoration: none;
  background-color: #d0963e;
  color: #fff;
  padding: 8px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
}

.socialTable .bookTable:hover {
  background-color: #fff;
  color: #d0963e;
  -webkit-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
}

.restaurantInfo {
  display: none;
}

@media screen and (min-width: 765px) {
  .restaurantInfo {
    display: block;
    width: 50%;
  }
  .restaurantInfo .styleInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .restaurantInfo .styleInfo li {
    list-style: none;
    color: #fff;
    padding: 6px;
  }
  .socialTable {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 50%;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 10vh;
  border-top: 1px solid #fff;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
  -webkit-transition: padding 1s ease;
  transition: padding 1s ease;
}

nav .hamburger {
  color: #fff;
  font-size: 30px;
  padding: 1% 1% 0 0;
  cursor: pointer;
}

nav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8;
}

.menu {
  width: 100%;
}

.menu .menuContainer {
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 10vh;
  background-color: #202324;
}

.logoSticky {
  display: none;
}

.dropdownMenu {
  border-top: 0.5px solid #000;
  background-color: #202324;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 25vh;
  overflow: auto;
  visibility: hidden;
  width: 100%;
  top: 12vh;
  z-index: 5;
}

.dropdownMenu .dropdown .dropbtn {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  padding: 10px;
  background-color: inherit;
  cursor: pointer;
  border: none;
}

.dropdownMenu .dropdown .dropbtn:hover {
  color: #d0963e;
}

.dropdownMenu a {
  margin-left: 15px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  padding: 10px;
}

.dropdownMenu a:hover {
  color: #d0963e;
}

.dropActive {
  visibility: visible;
}

@media screen and (min-width: 765px) {
  nav .menu {
    max-width: 80vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .menu .menuContainer {
    width: 30%;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav .menu .hamburger {
    display: none;
  }
  nav .menu .dropdownMenu {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: transparent;
    border-top: none;
    padding: 3% 0;
  }
  nav.sticky {
    background-color: #fff;
  }
  nav.sticky .logo {
    display: none;
  }
  nav.sticky .logoSticky {
    display: block;
  }
  nav.sticky .dropdown .dropbtn {
    color: #000;
  }
  nav.sticky .anker {
    color: #000;
  }
}

.slider {
  min-height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .burger .welcomeText {
  margin-bottom: 20px;
}

.slider .burger .welcomeText h1 {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.slider .burger .welcomeText h2 {
  font-family: 'Herr Von Muellerhoff', cursive;
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}

.clickOnMe {
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
}

.clickOnMe:hover {
  border: none;
  background-color: #d0963e;
  -webkit-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
  border: 2px solid transparent;
}

.secondPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ourStory {
  padding-top: 50px;
  margin-bottom: 30px;
}

.ourStory h2 {
  font-family: 'Herr Von Muellerhoff', cursive;
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  color: #d0963e;
  margin-bottom: 30px;
}

.ourStory h2 span {
  color: #000;
  font-family: 'Lato', sans-serif;
}

.ourStory p {
  text-transform: none;
  font-size: 15px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.3px;
  margin-bottom: 10px;
}

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.photos img {
  width: 100%;
}

.readMore {
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
  color: #d0963e;
  border: 1px #d0963e solid;
}

.readMore:hover {
  border: none;
  background-color: #d0963e;
  -webkit-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
  border: 2px solid transparent;
  color: #fff;
  border: 1px solid transparent;
}

.thirdPage {
  background-image: url("../project-start/img/promotions/promotions_area_bg_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.thirdPage .shade {
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.specials {
  margin-bottom: 30px;
}

.specials h2 {
  font-family: 'Herr Von Muellerhoff', cursive;
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  color: #d0963e;
  text-transform: none;
}

.specials h1 {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  color: #202324;
  font-size: 2em;
}

.specials h1 {
  color: #fff;
}

.specialFood {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.specialFood img {
  width: 100%;
  margin-bottom: 30px;
}

.specialFood .from {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  height: 100px;
  color: #fff;
  font-size: 16px;
  left: 42%;
  top: 25%;
  position: absolute;
  text-align: center;
  width: 100px;
  z-index: 4;
}

.specialFood .from p {
  margin: 20px 0 10px;
}

.specialFood .from p span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  padding-top: 5px;
}

.specialFood h2 {
  font-family: 'Herr Von Muellerhoff', cursive;
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  text-transform: none;
}

.specialFood h1 {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.specialFood .orderNow {
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
  color: #d0963e;
  border: 1px #d0963e solid;
}

.specialFood .orderNow:hover {
  border: none;
  background-color: #d0963e;
  -webkit-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
  border: 2px solid transparent;
  color: #fff;
  border: 1px solid transparent;
}

.fourthPage {
  background-color: #f3f4f4;
}

.fourthPage .container {
  min-height: 100vh;
}

.fourthPage .container .specials h1 {
  color: #202324;
}

.fourthPage .allTheMenus {
  text-align: center;
  padding: 0 15px;
}

.fourthPage .allTheMenus .firstMenu {
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
  background-color: #202324;
  border: none;
  margin: 5px;
}

.fourthPage .allTheMenus .allMenu {
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
  color: #202324;
  border: 1px #202324 solid;
  margin: 5px;
}

.fourthPage .allTheMenus .allMenu:hover {
  border: none;
  background-color: #d0963e;
  -webkit-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
  border: 2px solid transparent;
  background-color: #202324;
  color: #fff;
  border: none;
}

.menuPresentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.menuPresentation img {
  width: 100%;
}

.menuPresentation h4 {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
  text-transform: none;
  font-weight: normal;
}

.menuPresentation p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d0963e;
  font-size: 15px;
}

.fifthPage .reservation {
  padding: 50px 0;
}

.fifthPage .reservation h2 {
  font-family: 'Herr Von Muellerhoff', cursive;
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  color: #d0963e;
  text-transform: none;
}

.fifthPage .reservation h1 {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  color: #202324;
  font-size: 2em;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form .formRow {
  position: relative;
}

form .formRow label {
  position: absolute;
  font-size: 1.2em;
  height: 3vh;
  right: 0;
  top: 0.5em;
  width: 3vw;
}

form .formRow input {
  height: 5vh;
  width: 100%;
  border: 0;
  border-bottom: 1px dashed;
  margin-bottom: 30px;
}

form .formRow textarea {
  width: 100%;
  border: 0;
  border-bottom: 1px dashed;
  margin-bottom: 30px;
}

form .bookingTable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form .bookingTable .bookTable {
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
  color: #d0963e;
  border: 1px #d0963e solid;
  margin-bottom: 30px;
}

form .bookingTable .bookTable:hover {
  border: none;
  background-color: #d0963e;
  -webkit-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
  border: 2px solid transparent;
  color: #fff;
  border: 1px solid transparent;
}

form p {
  text-transform: none;
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
}

.intersection h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

.intersection p {
  text-transform: none;
  margin-bottom: 30px;
  line-height: 2;
}

.sixthPage {
  background-image: url("../project-start/img/event/event_-02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.events h2 {
  font-family: 'Herr Von Muellerhoff', cursive;
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  color: #d0963e;
  text-transform: none;
}

.events h1 {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  color: #202324;
  font-size: 2em;
}

.singleEvent {
  border-bottom: 1px solid #C3C3C4;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.singleEvent .eventImg {
  position: relative;
  margin-top: 30px;
}

.singleEvent .eventImg img {
  width: 100%;
}

.singleEvent .eventImg .smallEventDate {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  color: #fff;
  border: 1px solid #fff;
  height: 15vh;
  width: 15vh;
}

.singleEvent .eventImg .smallEventDate p {
  text-transform: none;
  margin-bottom: 30px;
  line-height: 2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.singleEvent .eventImg .smallEventDate p span {
  font-size: 30px;
}

.singleEvent .eventDetails {
  margin: 30px 0;
}

.singleEvent .eventDetails h3 {
  font-size: 20px;
  text-transform: none;
  margin-bottom: 30px;
}

.singleEvent .eventDetails .event-meta {
  padding-bottom: 30px;
  margin-bottom: 40px;
}

.singleEvent .eventDetails .event-meta .event-time {
  text-decoration: none;
  color: #202324;
}

.chefsHeader {
  margin-bottom: 30px;
}

.chefsHeader h2 {
  font-family: 'Herr Von Muellerhoff', cursive;
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  color: #d0963e;
  text-transform: none;
}

.chefsHeader h1 {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  color: #202324;
  font-size: 2em;
}

.chefs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chefs .team {
  width: 100%;
}

.chefs .team img {
  margin-bottom: 30px;
  width: 100%;
}

.chefs .team h3 {
  margin-bottom: 30px;
  text-align: center;
}

.chefs .team p {
  margin-bottom: 30px;
  text-align: center;
}

.eightPage {
  background-color: #f3f4f4;
  padding-bottom: 30px;
}

.news {
  margin-bottom: 30px;
  padding-top: 30px;
}

.news h2 {
  font-family: 'Herr Von Muellerhoff', cursive;
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  color: #d0963e;
  text-transform: none;
}

.news h1 {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  color: #202324;
  font-size: 2em;
}

.blogPictures {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 55px;
}

.blogPictures img {
  width: 100%;
}

.blogPictures .lifestyle {
  position: absolute;
  bottom: -6%;
  left: 2.5%;
  width: 85%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.blogPictures .lifestyle .lifestyleBtn {
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
  background-color: #d0963e;
  color: #fff;
  border: none;
  margin-bottom: 15px;
}

.blogPictures .lifestyle h3 {
  margin-bottom: 30px;
}

.instagramTheme {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 20vh;
}

.instagramTheme h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

.instagramTheme h4 .owlTheme {
  text-decoration: none;
  color: #d0963e;
}

footer {
  background-color: #202324;
}

footer .footerLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 20vh;
}

footer .footerAdress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footerAdress p {
  color: #CACACA;
  margin-bottom: 20px;
}

footer .footerAdress p a {
  text-decoration: none;
  color: #d0963e;
}

footer .footerSocialMedia {
  padding: 30px 0;
  border-bottom: 1px solid #CACACA;
}

footer .footerSocialMedia ul {
  min-height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

footer .footerSocialMedia ul li {
  width: 10%;
}

footer .footerSocialMedia ul li a {
  color: white;
  font-size: 20px;
  padding: 6px;
}

footer .footerSocialMedia ul li a:hover {
  color: #d0963e;
  -webkit-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
}

footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #CACACA;
  padding: 30px 0;
}
/*# sourceMappingURL=styles.css.map */