*{
    margin: 0;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

@mixin h1{
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

@mixin h2{
    font-family: 'Herr Von Muellerhoff', cursive;
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
}

@mixin shade{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
@mixin button{
    text-decoration: none;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    display: inline-block;
}
@mixin buttonHover{
    border: none;
    background-color: #d0963e;
    transition: background-color 0.7s ease-out;
}

.homepage{
    background: url("../project-start/img/slider/slide_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    .shade{
        @include shade;
    }
}

.container{
    max-width: 90vw;
    margin: 0 auto;
}

header{
    min-height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    ul{
        min-height: 5vh;
        min-width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding-left: 0px;
        li{
            width: 100%;
            display: flex;
            a{
                color: white;
                font-size: 14px;
                padding: 6px;
            }
            a:hover{
                background-color: #fff;
                color:#d0963e;
                transition: background-color 0.7s ease-out;
            }
        }
    }
    .bookTable{
        text-decoration: none;
        background-color: #d0963e;
        color: #fff;
        padding: 8px;
        text-align: center;
        font-weight: 700;
        letter-spacing: 2px;
    }
    .bookTable:hover{
        background-color: #fff;
        color: #d0963e;
        transition: background-color 0.7s ease-out;
    }
}

nav{
    background-color: #202324;
    padding: 2% 3%;
    display: flex;
    justify-content: space-between;
    min-height: 10vh;
    border-top: 1px solid #fff;
    transition: background 1s ease;
    transition: padding 1s ease;
        .hamburger{
            color: #fff;
            font-size: 30px;
            padding: 1% 1% 0 0; 
        } 
}
nav.sticky{
    position: fixed;
    top: 0;
    width: 95%;
    z-index: 8;
}

.dropdownMenu{
    border-top: 0.5px solid #000;
    background-color: #202324;
    display: flex;
    flex-direction: column;
    max-height: 25vh;
    overflow: auto;
    visibility: hidden;
    .dropdown{
        .dropbtn{
            color: #fff;
            margin-left: 15px;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 700;
            padding: 10px;
            background-color: inherit;
            cursor: pointer;
            border: none;
        }
        .dropbtn:hover{
            color: #d0963e;
        }
    }
    a{
        margin-left: 15px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        padding: 10px;
    }
    a:hover{
        color: #d0963e;
    }
}
.dropactive{
    visibility: visible;
}

.dropActive{
    visibility: visible;
}

.slider{
    min-height: 75vh;
    .burger{
        display: flex;
        flex-direction: column;
        align-items: center;
        .welcomeText{
            h1{
                @include h1;
            }
            h2{
                @include h2;
            }
            margin-bottom: 20px;
        }
    }
}
.clickOnMe{
    @include button;
}
.clickOnMe:hover{
    @include buttonHover;
}

.secondPage{
    display: flex;
    flex-direction: column;
}
.ourStory{
    padding-top:  50px;
    margin-bottom: 30px;
    h2{
        @include h2;
        color: #d0963e;
        margin-bottom: 30px;
        span{
            color: #000;
            font-family: 'Lato', sans-serif;
        }
    }
    p{
        text-transform: none;
        font-size: 15px;
        line-height: 1.7;
        font-weight: 400;
        letter-spacing: 0.3px;
        margin-bottom: 10px;
    }  
}
.photos{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    img{
        width: 100%;
    }
}
.readMore{
    @include button;
    color: #d0963e;
    border: 1px #d0963e solid;
}
.readMore:hover{
    @include buttonHover;
    color: #fff;
}

.thirdPage{
    background-image: url("../project-start/img/promotions/promotions_area_bg_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    .shade{
        @include shade;
    } 
}
.specials{
    h2{
        @include h2;
        color: #d0963e;
        text-transform: none;
    }
    h1{
        @include h1;
        padding-bottom: 30px;
    }
}
.specialFood{
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    img{
        width: 100%;
        margin-bottom: 30px;
    }
    .from{
        background: rgba(0, 0, 0, 0.7);
        border-radius: 50%;
        height: 100px;
        color: #fff;
        font-size: 16px;
        left: 42%;
        top: 25%;
        position: absolute;
        text-align: center;
        width: 100px;
        z-index: 4;
        p{
            margin: 20px 0 10px;
            span{
                display: block;
                font-size: 28px;
                font-weight: 700;
                padding-top: 5px;
            }
        }
    }
    h2{
        @include h2;
        font-size: 44px;
        font-weight: 700;
        text-transform: none;
    }
    h1{
        @include h1;
    }
    .orderNow{
        @include button;
        color: #d0963e;
        border: 1px #d0963e solid;
    }
    .orderNow:hover{
        @include buttonHover;
        color: #fff;
    }
}

.fourthPage{
    background-color: #f3f4f4;
    .container{
        min-height: 100vh;
        .specials{
            h1{
                color: #202324;
            }
        }
    }
    .allTheMenus{
        text-align: center;
        padding: 0 15px;
        .firstMenu{
            @include button;
            background-color: #202324;
            border: none;
            margin: 5px;
        }
        .allMenu{
            @include button;
            color: #202324;
            border: 1px #202324 solid;
            margin: 5px;
        }
        .allMenu:hover{
            @include buttonHover;
            background-color: #202324;
            color: #fff;
            border: none;
        }
    }
}
.menuPresentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    img{
        width: 100%;
    }
    h4{
        font-size: 18px;
        display: flex;
        justify-content: center;
        margin: 20px 0;
        text-transform: none;
        font-weight: normal;
    }
    p{
        display: flex;
        justify-content: center;
        color: #d0963e;
        font-size: 15px;
    }
}

.fifthPage{
    .reservation{
        padding: 50px 0;
        h2{
            @include h2;
            color: #d0963e;
            text-transform: none;
        }
        h1{
            @include h1;
            color: #202324;
            font-size: 30px;
        }
    }
}
form{
    .formRow{ 
        position: relative;
        label{
            position: absolute;
            font-size: 20px;
            height: 30px;
            right: 0;
            top: 8px;
            width: 30px;
        }
        input{
            height: 5vh;
            width: 100%;
            border: 0;
            border-bottom: 1px dashed;
            margin-bottom: 30px;
        }
        textarea{
            width: 100%;
            border: 0;
            border-bottom: 1px dashed;
            margin-bottom: 30px;
        }
    }
}