* {
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

h1 {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

h2 {
  font-family: 'Herr Von Muellerhoff', cursive;
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}

.homepage {
  background: url("../project-start/img/slider/slide_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.shade {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.container {
  max-width: 95vw;
  margin: 0 auto;
}

header {
  max-height: 15vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header ul {
  min-width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0px;
}

header ul li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul li a {
  color: white;
  font-size: 14px;
  padding: 6px;
}

header ul li a:hover {
  background-color: #fff;
  color: #d0963e;
  -webkit-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
}

header .bookTable {
  text-decoration: none;
  background-color: #d0963e;
  color: #fff;
  padding: 8px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
}

header .bookTable:hover {
  background-color: #fff;
  color: #d0963e;
  -webkit-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
}

nav {
  background-color: #202324;
  padding: 2% 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 10vh;
  border-top: 1px solid #fff;
}

nav .hamburger {
  color: #fff;
  font-size: 30px;
  padding: 1% 1% 0 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.dropdownMenu {
  border-top: 0.5px solid #000;
  background-color: #202324;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 25vh;
  overflow: auto;
  visibility: hidden;
}

.dropdownMenu .dropdown .dropbtn {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  padding: 10px;
  background-color: inherit;
  cursor: pointer;
  border: none;
}

.dropdownMenu .dropdown .dropbtn:hover {
  color: #d0963e;
}

.dropdownMenu a {
  margin-left: 15px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  padding: 10px;
}

.dropdownMenu a:hover {
  color: #d0963e;
}

.dropactive {
  visibility: visible;
}

.dropActive {
  visibility: visible;
}

.slider {
  min-height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slider .burger {
  position: absolute;
  top: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .burger .welcomeText {
  margin-bottom: 20px;
}

.slider .burger .clickOnMe {
  text-decoration: none;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
}

.slider .burger .clickOnMe:hover {
  border: none;
  background-color: #d0963e;
  -webkit-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
}

.test {
  min-height: 100vh;
}
/*# sourceMappingURL=styles.css.map */