* {
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.homepage {
  background: url("../project-start/img/slider/slide_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.homepage .shade {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

header {
  min-height: 5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header ul {
  min-height: 5vh;
  min-width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding-left: 0px;
}

header ul li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul li a {
  color: white;
  font-size: 14px;
  padding: 6px;
}

header ul li a:hover {
  background-color: #fff;
  color: #d0963e;
  -webkit-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
}

header .bookTable {
  text-decoration: none;
  background-color: #d0963e;
  color: #fff;
  padding: 8px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
}

header .bookTable:hover {
  background-color: #fff;
  color: #d0963e;
  -webkit-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
}

nav {
  background-color: #202324;
  padding: 2% 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 10vh;
  border-top: 1px solid #fff;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
  -webkit-transition: padding 1s ease;
  transition: padding 1s ease;
}

nav .hamburger {
  color: #fff;
  font-size: 30px;
  padding: 1% 1% 0 0;
}

nav.sticky {
  position: fixed;
  top: 0;
  width: 95%;
  z-index: 8;
}

.dropdownMenu {
  border-top: 0.5px solid #000;
  background-color: #202324;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 25vh;
  overflow: auto;
  visibility: hidden;
}

.dropdownMenu .dropdown .dropbtn {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  padding: 10px;
  background-color: inherit;
  cursor: pointer;
  border: none;
}

.dropdownMenu .dropdown .dropbtn:hover {
  color: #d0963e;
}

.dropdownMenu a {
  margin-left: 15px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  padding: 10px;
}

.dropdownMenu a:hover {
  color: #d0963e;
}

.dropActive {
  visibility: visible;
}

.slider {
  min-height: 75vh;
}

.slider .burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .burger .welcomeText {
  margin-bottom: 20px;
}

.slider .burger .welcomeText h1 {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.slider .burger .welcomeText h2 {
  font-family: 'Herr Von Muellerhoff', cursive;
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}

.clickOnMe {
  text-decoration: none;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
}

.clickOnMe:hover {
  border: none;
  background-color: #d0963e;
  -webkit-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
}

.secondPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ourStory {
  padding-top: 50px;
  margin-bottom: 30px;
}

.ourStory h2 {
  font-family: 'Herr Von Muellerhoff', cursive;
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  color: #d0963e;
  margin-bottom: 30px;
}

.ourStory h2 span {
  color: #000;
  font-family: 'Lato', sans-serif;
}

.ourStory p {
  text-transform: none;
  font-size: 15px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.3px;
  margin-bottom: 10px;
}

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.photos img {
  width: 100%;
}

.readMore {
  text-decoration: none;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
  color: #d0963e;
  border: 1px #d0963e solid;
}

.readMore:hover {
  border: none;
  background-color: #d0963e;
  -webkit-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
  color: #fff;
}

.thirdPage {
  background-image: url("../project-start/img/promotions/promotions_area_bg_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.thirdPage .shade {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.specials h2 {
  font-family: 'Herr Von Muellerhoff', cursive;
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  color: #d0963e;
  text-transform: none;
}

.specials h1 {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding-bottom: 30px;
}

.specialFood {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.specialFood img {
  width: 100%;
  margin-bottom: 30px;
}

.specialFood .from {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  height: 100px;
  color: #fff;
  font-size: 16px;
  left: 42%;
  top: 25%;
  position: absolute;
  text-align: center;
  width: 100px;
  z-index: 4;
}

.specialFood .from p {
  margin: 20px 0 10px;
}

.specialFood .from p span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  padding-top: 5px;
}

.specialFood h2 {
  font-family: 'Herr Von Muellerhoff', cursive;
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  text-transform: none;
}

.specialFood h1 {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.specialFood .orderNow {
  text-decoration: none;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
  color: #d0963e;
  border: 1px #d0963e solid;
}

.specialFood .orderNow:hover {
  border: none;
  background-color: #d0963e;
  -webkit-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
  color: #fff;
}

.fourthPage {
  background-color: #f3f4f4;
}

.fourthPage .container {
  min-height: 100vh;
}

.fourthPage .container .specials h1 {
  color: #202324;
}

.fourthPage .allTheMenus {
  text-align: center;
  padding: 0 15px;
}

.fourthPage .allTheMenus .firstMenu {
  text-decoration: none;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
  background-color: #202324;
  border: none;
  margin: 5px;
}

.fourthPage .allTheMenus .allMenu {
  text-decoration: none;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
  color: #202324;
  border: 1px #202324 solid;
  margin: 5px;
}

.fourthPage .allTheMenus .allMenu:hover {
  border: none;
  background-color: #d0963e;
  -webkit-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
  background-color: #202324;
  color: #fff;
  border: none;
}

.menuPresentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.menuPresentation img {
  width: 100%;
}

.menuPresentation h4 {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
  text-transform: none;
  font-weight: normal;
}

.menuPresentation p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d0963e;
  font-size: 15px;
}

.fifthPage .reservation {
  padding: 50px 0;
}

.fifthPage .reservation h2 {
  font-family: 'Herr Von Muellerhoff', cursive;
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  color: #d0963e;
  text-transform: none;
}

.fifthPage .reservation h1 {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  color: #202324;
  font-size: 2em;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form .formRow {
  position: relative;
}

form .formRow label {
  position: absolute;
  font-size: 1.2em;
  height: 3vh;
  right: 0;
  top: 0.5em;
  width: 3vw;
}

form .formRow input {
  height: 5vh;
  width: 100%;
  border: 0;
  border-bottom: 1px dashed;
  margin-bottom: 30px;
}

form .formRow textarea {
  width: 100%;
  border: 0;
  border-bottom: 1px dashed;
  margin-bottom: 30px;
}

form .bookingTable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form .bookingTable .bookTable {
  text-decoration: none;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
  color: #d0963e;
  border: 1px #d0963e solid;
  margin-bottom: 30px;
}

form .bookingTable .bookTable:hover {
  border: none;
  background-color: #d0963e;
  -webkit-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
  color: #fff;
}

form p {
  text-transform: none;
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
}

.intersection h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

.intersection p {
  text-transform: none;
  margin-bottom: 30px;
  line-height: 2;
}

.sixthPage {
  background-image: url("../project-start/img/event/event_-02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.events h2 {
  font-family: 'Herr Von Muellerhoff', cursive;
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  color: #d0963e;
  text-transform: none;
}

.events h1 {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  color: #202324;
  font-size: 2em;
}

.singleEvent {
  border-bottom: 1px #202324 solid;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.singleEvent .eventImg {
  position: relative;
}

.singleEvent .eventImg img {
  width: 100%;
}

.singleEvent .eventImg .smallEventDate {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  color: #fff;
  border: 1px solid #fff;
  height: 15vh;
  width: 15vh;
  text-align: center;
}

.singleEvent .eventImg .smallEventDate p {
  text-transform: none;
  margin-bottom: 30px;
  line-height: 2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.singleEvent .eventImg .smallEventDate p span {
  font-size: 30px;
}
/*# sourceMappingURL=styles.css.map */